%html
  %script{src: 'http://code.jquery.com/jquery-2.1.0.min.js'}
  %body
    %h1 Every time a story gets acceptance wings, a bell rings
    %audio{src: '/sounds/cash.wav', id: 'sound_cash'}
    %audio{src: '/sounds/break_glass.wav', id: 'sound_break_glass'}
  :javascript
    $(function() {
      var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);

      ws.onopen = function() {
        console.log("websocket opened");
      };

      ws.onclose = function() {
        console.log("websocket closed");
      };

      ws.onmessage = function(message) {
        var hash = JSON.parse(message.data);
        var sound = hash.sound;
        console.log("Play sound: " + sound);
        var $audio_el = $("#sound_" + sound);
        if ($audio_el.length) {
          $audio_el[0].play();
        } else {
          console.log("Warning: sound " + sound + " is unknown.");
        }
      }
    })
